<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--引入 jdbc.properties-->
    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>
    <!--别名，这里不使用别名，一律使用全限定名-->
    <!--<typeAliases>
        <package name="cn.happy.entity"/>
    </typeAliases>-->
    <!--DB connection info,配置mybatis多套运行环境-->
    <environments default="development">
        <environment id="development">
            <!--采用jdbc事务管理-->
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://127.0.0.1:3306/mybatis"/>
                <property name="username" value="root"/>
                <property name="password" value="jiaao"/>
            </dataSource>
        </environment>
    </environments>
    <!--大配置关联小配置-->
    <mappers>
        <!--关联单个小配置,不能重复关联-->
        <mapper resource="UserMapper.xml"/>
        <!--关联整个包,dao层接口名字和对应的xml名字要一样-->
        <!--<package name="cn.happy.dao"/>-->
    </mappers>
</configuration>